.ShopByCategory {
  height: 480px;
  background-color: #fafafc;
  margin-top: 48px;
  h2 {
    font-size: 30px;
    font-weight: 900;
  }

  .container {
    .products {
      width: 100%;
      height: 112px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .ShopByCategory {
    height: 100%;
    h2 {
      font-size: 20px;
      font-weight: 700;
    }
    .container {
      .products {
        width: 100%;
        height: 112px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .ShopByCategory {
    height: 100%;
    h2 {
      font-size: 20px;
      font-weight: 700;
    }
    .container {
      .products {
        width: 100%;
        height: 112px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .ShopByCategory {
    height: 100%;
    h2 {
      font-size: 20px;
      font-weight: 700;
    }
    .container {
      .products {
        width: 100%;
        height: 112px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .ShopByCategory {
    height: 100%;
    .col-xl-8 {
      flex: 0 0 14.28%;
      max-width: 14.28%;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .ShopByCategory {
    .col-xl-8 {
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }

    .container {
      .products {
        width: 112px;
        height: 112px;
      }
    }
  }
}
